<header>
    <div class="header-main-container">
        <div class="container-logo">
            <div class="logo">
                <img src="assets/img/logo.png" alt="Logo des Vereins"> <!-- Pfad zum Logo-Bild anpassen -->
            </div>
            <div class="container-titel-überschrift">
                <h1>Kleiderspenden-Portal</h1>                
            </div>
        </div>
        
        <nav class="navigation">
            <ul>
                <li><a routerLink="/home" class="link">Startseite</a></li>
                <li><a routerLink="/spenden" class="link">Spenden</a></li>
                <li><a routerLink="/geschäftstellen" class="link">Geschäftstellen</a></li>
                <li><a routerLink="/kontakt" class="link">Kontakt</a></li>
            </ul>
        </nav>
    </div>
</header>