<div class="div-footer">
    <div class="div-footer-kontakt">
        <h2>Kontakt</h2>
        <h4>Hauptsitz</h4>
        <p>Telefon: 0123 4567-0</p>
        <p>info&#64;kleiderspenden-portal.de</p>
        <p>Musterstraße 97</p>
        <p>56123 Musterstadt</p>
    </div>

    <div class="div-footer-info">
        <h2>Information</h2>
        <ul>
            <li><a class="link">Partner</a></li>
            <li><a class="link">Über uns</a></li>
            <li><a class="link">Impressum</a></li>
            <li><a class="link">Datenschutz</a></li>
        </ul>
    </div>

    <div class="div-footer-social">
        <div class="div-footer-social-icons">
            <div class="div-mat-icon">
                <i class="fa-brands fa-facebook icon-social"></i>
            </div>
            <div class="div-mat-icon">
                <i class="fa-brands fa-instagram icon-social"></i>
            </div>
            <div class="div-mat-icon">
                <i class="fa-brands fa-linkedin icon-social"></i>
            </div>
        </div>
        <div class="div-footer-social-copyright">
            <p>© 2024 Copyright:</p>
            <a routerLink="/home" class="link">kleiderspenden-portal.de</a>
        </div>

    </div>

</div> 
