.div-main-geschaeft{
    display : flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.div-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    margin-top: .4em;
    margin-bottom: 1em;
  }
  

mat-card-header{
    display: flex;
    width: 85%;
    margin-bottom: .3em;
}

mat-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width : calc(33.333% - 1.2em);
    margin: .5em; 
    border-radius: 5px;
}

mat-card-content{
    display: flex;
    width : 85%;
    flex-direction: column;
    margin-top: .8em;
}

.adress-zeile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.adress-zeile p{
    margin: .5em;
}

.icon{
    margin-right: 1em;
}

img{
    width : 85%;
}


@media (max-width: 700px) {
    mat-card {
      flex-basis: calc(50% - 20px); 
    }
  }
  
  @media (max-width: 600px) {
    mat-card {
      flex-basis: calc(100% - 10px); 
    }
  }