<div class="img-container">
    <span class="overlay-text"><h1>Willkommen im Kleiderspenden-Portal!</h1></span>
    <div class="div-overlay-spenden-button">
        <button>Jetzt Kleidung spenden</button>
    </div>
</div>

<div class="div-main-content">
    <div class="div-main-top-1">
        <div class="div-motivation-text">
            <h1>Jede Spende wärmt ein Herz – teilen Sie Wärme und Hoffnung durch Ihre Kleiderspende</h1>
            <p>
                Verwandeln Sie Ihre ungenutzte Kleidung in eine wertvolle Hilfe für Menschen in Not. 
                Unser Portal ermöglicht es Ihnen, mit Leichtigkeit und Zuversicht zu spenden, 
                indem es Ihre Kleiderspenden direkt dorthin leitet, wo sie am meisten 
                gebraucht werden. Machen Sie den Unterschied – Ihre Spende bringt Wärme 
                und Hoffnung in das Leben anderer.
            </p>
        </div>
    </div>
    <hr>
</div>