<div class='div-main-spenden'>
  <div class="div-reg-form">
    <app-form-kontaktdaten *ngIf="kontaktFormisVisible" [@fadeOut]="eventKontaktdaten" (callSpenden)="setKontaktdaten($event)" (@fadeOut.done)="animationZuVersandFertig()"></app-form-kontaktdaten>
    <app-form-versand *ngIf="versandFormVisible" [@fadeOut]="eventVersand" (callSpenden)="setVersandart($event)" (@fadeOut.done)="animationZuKleidungsartFertig()"></app-form-versand>
    <app-form-kleidungsart *ngIf="kleidungsartFormisVisible" [@fadeOut]="eventKleidungsArt" (callSpenden)="setKleidungsStuecke($event)" (@fadeOut.done)="animationZuKrisengebietFertig()"></app-form-kleidungsart>
    <app-form-krisengebiet *ngIf="krisengebietFormVisible" [@fadeOut]="eventKrisengebiet" (callSpenden)="setKrisengebiet($event)" (@fadeOut.done)="animationZuBestaetigungFertig()"></app-form-krisengebiet>
    <app-spenden-bestaetigung *ngIf="spendenBestaetigungVisible" [@fadeOut]="eventBestaetigung"></app-spenden-bestaetigung>
    </div>
  </div>
  